button{
    display: inline-block;
}
textarea{
    height: 17vh;
    width: 720px;
    display: block;
    padding: 1rem;
    margin: 1rem auto;
}

#submit-btn{
    border: 2px solid rgb(20, 20, 20);
    width: 100px;
    height: 40px;
}

#clear-btn{
    border: 2px solid rgb(20, 20, 20);
    width: 100px;
    height: 40px;
}
#ouput-area{
    height: 17vh;
    width: 720px;
    border: 1px black solid;
    display: block;
}